@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-image: linear-gradient(
    to right top,
    #2d3250,
    #272c48,
    #222640,
    #1c2039,
    #171a31
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
